.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}

.productbox {
  background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight:bold;

  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}

@media (min-width: 992px) {
  .productdescription {
    height: 315px;
    overflow: scroll;
  }

  .thumbnail img{
    height: 240px;
  }
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
