<navbar></navbar>

<div class="container">
  <form class="thing-form" ng-show="isAdmin()">
    <label>Add a product</label>
    <p class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" ui-sref="newProduct()">Add Product</button>
      </span>
    </p>
  </form>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-show="products.length < 1"> No products to show.</div>
    <div class="col-sm-6 col-md-4" ng-repeat="product in products">
      <div class="thumbnail">
        <h3>{{product.title}}</h3>
        <img src="{{product.imageUrl}}" alt="{{product.title}}" width="400" height="400">
        <figcaption class="figure-caption">{{product.description | limitTo: 100}} ...</figcaption>
        <div class="caption">
          <p>{{product.price | currency: "£" }}</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Buy</a>
            <a ui-sref="viewProduct({id: product._id})" class="btn btn-default" role="button">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
